@model Spilos.Models.Images
<!doctype html>
<html lang="en">
@{
	ViewData["Title"] = "UploadPhoto";
	Layout = "";
}

<h2>UploadPhoto</h2>

  <head>
  	<title>Fotoğraf Yükleme</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="css/style.css">

	</head>
	<body>
	<form method="post" action="@Url.Action("CreateActivity","Admin")",class = "form-horizontal", role = "form">
		<label>Etkinlik Adını Giriniz:</label>
		<input type="text" name="folderName" />
		<br />
		<input type="submit" value="Etkinlik Oluştur" />
	</form>
	 @using (Html.BeginForm("UploadPhoto","Admin", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", role = "form" }))
	 {
	@*<form method="post" action="@Url.Action("UploadPhoto","Admin")",enctype = "multipart/form-data", class = "form-horizontal", role = "form">*@		
		<input type="file" name="imgFile" />
		<input type="submit" value="YÜKLE" />
		<br />
		<table class="table">
			<tr>
				<th>Fotoğraf Adı</th>
				<th>Fotoğraf</th>
			</tr>
			@if (Model.FileImage!=null)
			{
				foreach (var item in Model.FileImage)
			{
				<tr>
					<td>@item.Name</td>
					<td><img src="~/assets/images/@item.Name" height="80" width="120"/></td>
				</tr>
			}
			}
			
		</table>
		}	
	@*</form>*@

	<script src="js/jquery.min.js"></script>
  <script src="js/popper.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/main.js"></script>

	</body>
</html>

